<div class="col-lg-3 col-md-4 col-6">
    <div class="product">
        <div class="product_info">
            <div style="word-break: break-word;">{{ externalIndividualContact.firstname }}</div>
            <div style="word-break: break-word;">{{ externalIndividualContact.lastname }}</div>
            <div style="word-break: break-word;">{{ externalIndividualContact.phone }}</div>
            <div style="word-break: break-word;">{{ externalIndividualContact.email }}</div>
        </div>
    </div>
</div>